.countries {
    padding: 20px;
    border: black solid 1px;
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-title {
    width: 100%;
    margin: 0 0 20px;
}

.countries-list {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: solid black 1px;
}

.country-item {
    width: 100%;
    margin-bottom: 10px;
    background: white;
    padding: 5px;
}

.country-item:hover {
    background: darkgrey;
}

.country-item:hover .country-link {
    color: red;
}

.country-link {
    text-decoration: none;
    font-size: 24px;
    max-width: 90%;
    color: dodgerblue;
}

.county-info-block {
    width: 65%;
    border: solid 1px black;
    padding: 15px;
}

.flag-block {
    width: 200px;
    height: 120px;
    margin-bottom: 20px;
    border: black solid 1px;
}

.country-flag {
    width: 100%;
    height: 100%;
}

.country-info-item {
    font-weight: bold;
    margin: 0 0 10px;
}

.country-info-item span {
    font-weight: normal;
}